* {margin: 0; padding: 0;}

h1 {
  font-size: 2rem;
  padding: 0.3rem;
  text-align: center;
  margin-top: 0.5rem;
}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
  width:50px;
  height: 50px;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

#song-position{
  display:flex;
  justify-content: space-between;
}

.app{
  display:flex;
  justify-content: space-between;
}

#second{
  background-color: darksalmon;
}

#song-info img{
  width: 100px;
  height:100px;
  padding:0.4rem;
}
#song-info{
  display: flex;
  justify-content: center;
}

.show{
  display: block;
}

.hide{
  display: none;;
}